@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import "tailwindcss";

:root {
  /* Dark Mode Default */
  --background: #0f172a;
  /* slate-900 */
  --foreground: #cbd5e1;
  /* slate-300 */

  /* Primary Gradient Colors */
  --primary-from: #8b5cf6;
  /* violet-500 */
  --primary-to: #d946ef;
  /* fuchsia-500 */

  /* Secondary VS Colors */
  --vs-left: #06b6d4;
  /* cyan-500 */
  --vs-right: #f43f5e;
  /* rose-500 */
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

  --animate-marquee: marquee 25s linear infinite;
  --animate-marquee2: marquee2 25s linear infinite;

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes marquee2 {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(0%);
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  word-break: keep-all;
}